<nav>
        <a href="/">Home</a>
        <a href="/schedule">Schedule</a>
        <a href="/pinboard">pinboard</a>
        <a href="/contact">Contact</a>
        <a style="margin-left:65%" href="/adminlogin"><i class="bi bi-file-person-fill"></i></a>
        <div class="animation start-pinboard"></div>
</nav>


<div class="fac-tab">
{{#if lectName}}
{{#each lectName}}
<h5>Hello {{this.name}}!</h5>
<p>Here is your schedule..</p>
{{/each}}
{{/if}}


{{#if rowsa}}
    <table class="table table-dark table-hover ">
 <thead>
    <th scope="col"><div class="xr">Monday</div></th>
 </thead>
<tbody>

<table class="table table-dark table-hover ">
 <tr>

 <thead>
    
    <th scope="col"><div class="he">Branch</div></th>
    <th scope="col"><div class="he">Sem</div></th>
    <th scope="col"><div class="he">Session</div></th>
    <th scope="col"><div class="he">Subject</div></th>

    
  </thead>
  </tr>
  <tbody>
    {{#each rowsa}}
    <tr>
    
     <th scope='row'class="table-active "><div class="xr">{{this.branch}}</div></th>
     <td class="table-active "><div class="xr">5</div></td>
     <td class="table-active "><div class="xr">{{this.session}}</div></td>
     <td class="table-active "><div class="xr">{{this.sub_name}}</div></td>

    </tr>
  {{/each}}


  </tbody>
</table>
</tbody>
</table>
{{/if}}

{{#if rowsb}}
<table class="table table-dark table-hover ">
 <thead>
    <th scope="col"><div class="xr">Tuesday</div></th>
 </thead>
<tbody>

<table class="table table-dark table-hover ">
 <tr>

 <thead>
    
    <th scope="col"><div class="he">Branch</div></th>
    <th scope="col"><div class="he">Sem</div></th>
    <th scope="col"><div class="he">Session</div></th>
    <th scope="col"><div class="he">Subject</div></th>

    
  </thead>
  </tr>
  <tbody>
    {{#each rowsb}}
    <tr>
    
     <th scope='row'class="table-active "><div class="xr">{{this.branch}}</div></th>
     <td class="table-active "><div class="xr">5</div></td>
     <td class="table-active "><div class="xr">{{this.session}}</div></td>
     <td class="table-active "><div class="xr">{{this.sub_name}}</div></td>

    </tr>
  {{/each}}


  </tbody>
</table>
</tbody>
</table>
{{/if}}

{{#if rowsc}}
<table class="table table-dark table-hover ">
 <thead>
    <th scope="col"><div class="xr">Wednesday</div></th>
 </thead>
<tbody>

<table class="table table-dark table-hover ">
 <tr>

 <thead>
    
    <th scope="col"><div class="he">Branch</div></th>
    <th scope="col"><div class="he">Sem</div></th>
    <th scope="col"><div class="he">Session</div></th>
    <th scope="col"><div class="he">Subject</div></th>

    
  </thead>
  </tr>
  <tbody>
    {{#each rowsc}}
    <tr>
    
     <th scope='row'class="table-active "><div class="xr">{{this.branch}}</div></th>
     <td class="table-active "><div class="xr">5</div></td>
     <td class="table-active "><div class="xr">{{this.session}}</div></td>
     <td class="table-active "><div class="xr">{{this.sub_name}}</div></td>

    </tr>
  {{/each}}


  </tbody>
</table>
</tbody>
</table>
{{/if}}

{{#if rowsd}}
<table class="table table-dark table-hover ">
 <thead>
    <th scope="col"><div class="xr">Thursday</div></th>
 </thead>
<tbody>

<table class="table table-dark table-hover ">
 <tr>

 <thead>
    
    <th scope="col"><div class="he">Branch</div></th>
    <th scope="col"><div class="he">Sem</div></th>
    <th scope="col"><div class="he">Session</div></th>
    <th scope="col"><div class="he">Subject</div></th>

    
  </thead>
  </tr>
  <tbody>
    {{#each rowsd}}
    <tr>
    
     <th scope='row'class="table-active "><div class="xr">{{this.branch}}</div></th>
     <td class="table-active "><div class="xr">5</div></td>
     <td class="table-active "><div class="xr">{{this.session}}</div></td>
     <td class="table-active "><div class="xr">{{this.sub_name}}</div></td>

    </tr>
  {{/each}}


  </tbody>
</table>
</tbody>
</table>
{{/if}}

{{#if rowse}}
<table class="table table-dark table-hover ">
 <thead>
    <th scope="col"><div class="xr">Friday</div></th>
 </thead>
<tbody>

<table class="table table-dark table-hover ">
 <tr>

 <thead>
    
    <th scope="col"><div class="he">Branch</div></th>
    <th scope="col"><div class="he">Sem</div></th>
    <th scope="col"><div class="he">Session</div></th>
    <th scope="col"><div class="he">Subject</div></th>

    
  </thead>
  </tr>
  <tbody>
    {{#each rowse}}
    <tr>
    
     <th scope='row'class="table-active "><div class="xr">{{this.branch}}</div></th>
     <td class="table-active "><div class="xr">5</div></td>
     <td class="table-active "><div class="xr">{{this.session}}</div></td>
     <td class="table-active "><div class="xr">{{this.sub_name}}</div></td>

    </tr>
  {{/each}}


  </tbody>
</table>
</tbody>
</table>
{{/if}}
</div>

 